<!-- ------------- -->
<!-- 간호학과  모달 -->
<!-- ------------- -->


<!-- 모달 : 실습지도 일지 (순회지도)-->
<div class="modal" tabindex="-1" role="dialog" id="modal-practice-log-tour">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content border-0">
            <div class="modal-header bg-primary">
                <h1 class="modal-title text-white">실습지도 일지 [ 순회지도 ] </h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="icon-close-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>구분</th>
                            <th>작성차수</th>
                            <th>지도시간</th>
                            <th>작성자<br>(지도교수)</th>
                            <th>지도일시</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 1; i < 6 ; i++){ %>
                        <tr>
                            <td class="text-center">순회지도</td>
                            <td class="text-center"><%= i %></td>
                            <td class="text-center text-danger">4</td>
                            <td class="text-center">김교수</td>
                            <td class="text-center">2021-10-11 12:00</td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary width-120px" data-dismiss="modal" aria-label="Close">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- 모달 : 실습지도 일지 (집담회)-->
<div class="modal" tabindex="-1" role="dialog" id="modal-practice-log-meeting">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content border-0">
            <div class="modal-header bg-primary">
                <h1 class="modal-title text-white">실습지도 일지 [ 집담회 ] </h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="icon-close-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>구분</th>
                            <th>작성차수</th>
                            <th>지도시간</th>
                            <th>작성자<br>(지도교수)</th>
                            <th>지도일시</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 1; i < 6 ; i++){ %>
                        <tr>
                            <td class="text-center">집담회</td>
                            <td class="text-center"><%= i %></td>
                            <td class="text-center text-danger">4</td>
                            <td class="text-center">김교수</td>
                            <td class="text-center">2021-10-11 12:00</td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary width-120px" data-dismiss="modal" aria-label="Close">닫기</button>
            </div>
        </div>
    </div>
</div>

<!-- 모달 : 서약서-->
<div class="modal" tabindex="-1" role="dialog" id="modal-pledge">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content border-0">
            <div class="modal-header bg-primary">
                <h1 class="modal-title text-white">서약서</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="icon-close-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <colgroup>
                        <col style="width:170px">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>서약서</th>
                            <td class="m-b-10">
                                <!-- 기획서랑 상이하게 퍼블진행했습니다  편하신 방법으로 선택해서 사용해주세요-->

                                <!-- 아래}} 기획서상 디자인 (현재 숨김처리> 사용할 경우 클래스 d-none 빼주세요) 최대 10개인데 너무 보기 불편해서 아래 다른 디자인 추가 해놨습니다. 더 편하신거 사용해주세요!-->
                                <div class="d-none">
                                    <div class="m-t-10">
                                        <!-- 파일 첨부 -->
                                        <div class="row row-10 align-items-center">
                                            <div class="col-8">
                                                <div class="custom-file w-100">
                                                    <input type="file" class="form-control custom-file-input" id="customFile" placeholder="파일을 업로드 해 주세요.">
                                                    <label class="custom-file-label" for="customFile" lang="ko"></label>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <button type="buton" class="btn btn-dark">추가</button>
                                            </div>
                                        </div>
                                        <!-- 첨부된 파일 명 -->
                                        <div class="bg-light p-2 m-t-10 px-3">
                                            <a href="javascript:;">김학생서약서.hwp</a>
                                        </div>
                                    </div>
                                    <!-- 파일 추가시 { -->
                                    <div class="m-t-10">
                                        <!-- 파일 첨부 -->
                                        <div class="row row-10  align-items-center">
                                            <div class="col-8">
                                                <div class="custom-file w-100">
                                                    <input type="file" class="form-controlcustom-file-input" id="customFile" placeholder="파일을 업로드 해 주세요.">
                                                    <label class="custom-file-label" for="customFile" lang="ko"></label>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <button type="buton" class="btn btn-outline-dark">삭제</button>
                                                <button type="buton" class="btn btn-dark">추가</button>
                                            </div>
                                        </div>
                                        <!-- 첨부된 파일 명 -->
                                        <div class="bg-light p-2 m-t-10 px-3">
                                            <a href="javascript:;">김학생서약서.hwp</a>
                                        </div>
                                    </div>
                                    <!-- } -->
                                </div>


                                <!-- 아래}} 1:1문의 등록과 똑같이 진행된 퍼블..이에요! 편하신방법으로 선택해서 쓰시면 될것같아요! 이게 중복되서 개발하기 편할것같고.. 보기 더 편할것 같습니다..1:1문의랑 같은 개발 방식이라면!  추가버튼은 삭제해도 될것같아요.. 기획서에 추가 버튼이 있어서 넣은것 뿐입니다. -->
                                <div class="">
                                    <!-- 파일 첨부 -->
                                    <div class="row row-10 align-items-center">
                                        <div class="col-8">
                                            <div class="custom-file w-100">
                                                <input type="file" class="form-control custom-file-input" id="customFile" placeholder="파일을 업로드 해 주세요.">
                                                <label class="custom-file-label" for="customFile" lang="ko"></label>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <button type="buton" class="btn btn-dark">추가</button>
                                        </div>
                                    </div>
                                    <!-- 첨부된 파일명 -->
                                    <ul id="fileAppend" class="p-3 bg-light m-t-10">
                                        <li>
                                            <label class="d-inline-block fileName mb-0" name="safetyFile">xxxxxxxxxxx.pdf</label>
                                            <input type="hidden" class="filePath"></input>
                                            <input type="hidden" class="fileSize"></input>
                                            <button type="button" class="btn text-underline text-gray4 p-0 m-l-10">삭제</button>
                                        </li>
                                        <li>
                                            <label class="d-inline-block fileName mb-0" name="safetyFile">xxxxxxxxxxx.pdf</label>
                                            <input type="hidden" class="filePath"></input>
                                            <input type="hidden" class="fileSize"></input>
                                            <button type="button" class="btn text-underline text-gray4 p-0 m-l-10">삭제</button>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary width-120px">저장</button>
                <button class="btn btn-secondary  width-120px m-l-10" data-dismiss="modal" aria-label="Close">취소</button>
            </div>
        </div>
    </div>
</div>


<!-- 모달 : 보고서-->
<div class="modal" tabindex="-1" role="dialog" id="modal-report">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content border-0">
            <div class="modal-header bg-primary">
                <h1 class="modal-title text-white">보고서</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="icon-close-white"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="inquery-area">
                    <table class="table table-bordered">
                        <colgroup>
                            <col style="width: 150px">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>제목 </th>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                            <tr>
                                <th>파일첨부</th>
                                <td>
                                    <div class="row row-10  align-items-center">
                                        <div class="col-8">
                                            <div class="custom-file w-100">
                                                <input type="file" class="form-control custom-file-input" id="customFile" placeholder="파일을 업로드 해 주세요.">
                                                <label class="custom-file-label" for="customFile" lang="ko">찾아보기</label>
                                            </div>
                                        </div>
                                        <!-- 필요하면 쓰고 아니면 지워주세요! -->
                                        <!-- <div class="col-2">
                                            <button type="button" class="btn btn-outline-dark">파일삭제</button>
                                        </div> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="btns">
                        <button class="btn btn-primary">등록</button>
                    </div>
                </div>

                <div class="list-title-wrap">
                    <div>
                        <i class="icon-list-title"></i>
                        <p class="title">보고서 목록</p>
                    </div>
                </div>

                <table class="table table-bordered" id="datatable1">
                    <colgroup>
                        <col style="width:60px">
                        <col>
                        <col>
                        <col style="width:18%">
                        <col style="width:16%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>연번</th>
                            <th>보고서 제목</th>
                            <th>파일명</th>
                            <th>등록일</th>
                            <th>관리</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 10; i > 0 ; i--){ %>
                        <tr>
                            <td class="text-center"><%= i %></td>
                            <td class="text-center text-truncate">주간보고서 내용 길어요 내용 길어요 내용 길어요</td>
                            <td class="text-center text-truncate">10월2주차주간보고서10월2주차주간보고서10월2주차주간보고서.hwp</td>
                            <td class="text-center">2021-10-01</td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-secondary">수정</button>
                                <button type="button" class="btn btn-sm btn-gray5" data-target="#modal-cancel" data-toggle="modal">삭제</button>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary width-120px">확인</button>
            </div>
        </div>
    </div>
</div>
