<div id="header-block">
    <div id="header">
        <aside class="header-top">
            <div class="container">
                <ul class="header-util">
                    <!-- 학생일경우에만 {-->
                    <a href="../board/clinical_list.html" class="btn btn-lightprimary text-white px-4 m-r-15 height-40px">임상실습안내</a>
                    <!-- } -->
                    <li><a href="../main/main.html"><i class="icon-top-home"></i> HOME</a></li>
                    <li><a href="#modal-login" data-toggle="modal"><i class="icon-top-user"></i> LOGIN</a></li>
                    <li><a href="javascript:;"><i class="icon-top-user"></i>LOGOUT</a></li>
                    <li><a href="../sitemap/sitemap.html"><i class="icon-top-sitemap"></i> SITEMAP</a></li>
                </ul>
            </div>
        </aside>
        <header class="header-bottom">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <h1 class="logo">
                            <a href="../main/main.html">
                                <i><span class="sr-only">가톨릭관동대학교</span></i>
                                <span>간호학과</span>
                            </a>
                        </h1>
                    </div>
                    <div class="col">
                        <nav class="gnb">
                            <ul class="dep1">
                                <!-- 학생{ -->
                                <li><a href="../student/traning_completion_list.html"><span>교육이수</span></a></li>
                                <li><a href="../student/vaccination_list.html"><span>검진/예방 검사</span></a></li>
                                <li><a href="../student/practice_list.html"><span>나의 실습</span></a></li>
                                <!-- } -->

                                <!-- 교관{ -->
                                <li><a href="../instructor/student_list.html"><span>실습학생관리</span></a></li>
                                <li><a href="../instructor/practice_table_list.html"><span>실습배치표</span></a></li>
                                <li><a href="../instructor/participation_history_list.html"><span>참여이력조회</span></a></li>
                                <!-- } -->


                                <!-- 학생/현장지도자 공통 {-->
                                <li><a href="../personal/personal_list.html"><span>나의정보</span></a></li>
                                <li>
                                    <a href="../board/notice_list.html"><span>지원센터</span></a>
                                    <ul class="dep2">
                                        <li><a href="../board/notice_list.html">공지사항</a></li>
                                        <li><a href="../board/resource_list.html">자료실</a></li>
                                        <li><a href="../board/qna_list.html">1:1문의</a></li>
                                        <li><a href="../board/clinical_list.html">임상실습안내</a></li>
                                    </ul>
                                </li>
                                <!-- } -->
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>